@use'variable';


html, body{
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  #about
  {
    // background-color: #E2E2E2;
    width: 100%;
    .top-section{
      @media only screen and (max-width: 576px){
        position: relative;
      }
    }
    .pagename
    {
      font-family: 'Josefin sans', sans-serif;
      font-size: 2rem;
      margin-top: 2%;
      font-style: italic;
      font-weight: 700;
  
      @media only screen and (max-width: 576px){
        text-align: center;
        font-size: 1.5rem;
        width: 100%;
        margin-top: 8%;
      }
    }
    }
  
    #flex-container
    {
      
      display: flex;
      align-items: center;
      gap: 20%;
      position: relative;
      
      @media only screen and (max-width: 576px){
          display: block;
      }
  
      // .pfp{
      //   @media only screen and (max-width: 576px){
  
      //   }
      // }
      
      .about-content
      {
        width: 50%;
  
        @media only screen and (max-width:576px){
          width: fit-content;
        }
  
        .inv-comma{
          font-size: 3.5rem;
          font-family: 'poppins', sans-serif;
          color: #C1A6F9;
          z-index: 5;
  
          @media only screen and (max-width: 576px){
            position: relative;
           }
        }
        
        .intro
        {
          font-family: 'poppins', sans-serif;
          text-align: justify;
  
        }
  
        .prs-info{
          margin: 8% 0;
          div{
            padding: 0.5rem 0;
          }
  
          .social{
            position: relative;
            ul{
              display: flex;
              margin-left: 3.5rem;
              margin-top: -4%;
              li{
                list-style: none;
                padding: 1%;
              }
            }
          }
        }
  
        .dwn-btn{
          width: 50%;
          border: 2px solid black;
          border-radius: 4px;
          background-color: rgb(34, 33, 33);
          color: #C1A6F9;
          padding: 2% 1%; 
          font-size: 1rem;
          font-weight: 700;
          cursor: pointer;
  
          @media only screen and (max-width: 576px){
            
          }
        }
  
        .dwn-btn:hover{
          border: 3px solid #7152ad;
          background-color: transparent;
          color: #7152ad;
        } 
  
      }
    }
    
    #edu, #exp{
  
      .edu_container{
        background: rgb(128, 128, 128, 0.2);
        border-radius: 5px;
  
        @media only screen and (max-width: 576px){
          margin-top: 5%;
        }
      }
      
      width: 100%;
      font-family: 'poppins', sans-serif;
  
      .sec-name{
        font-size: 2rem;
        padding-top: 5%;
        .hr-line{
          display: flex;
          width: 100%;
          border: 1.5px solid black;
        }
        }
      }
  
  
      .row{
        position: relative;
        margin-top: 2%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        font-family: 'poppins', sans-serif;
  
        @media only screen and (max-width: 576px){
          padding: 4%;
          width: 100%;
        }
        .uni-name, .comp-name{
          color: black;
          font-size: 1.2rem;
        }
        .year{
          font-size: 0.9rem;
          // color: #C1A6F9;
          color: #947ec0;
        }
  
        .side-by-side{
          width: 35%;
          text-align: justify;
  
          @media only screen and (max-width: 576px){
            width: fit-content;
          }
  
          .edu-type, .stream{
            @media only screen and (max-width: 576px){
              font-size: 0.9rem;
              margin-top: 5%;
            }
          }
          }
        .stream{
          color: #947ec0;
          font-size: 0.9rem;
        }
        .grade-info, .intern-info{
            margin-top: 2%;
          }
        }  